@mixin hover_text($color,$text-decoration){
	color:$color;
	text-decoration:$text-decoration;
}
@mixin img_fix($width,$max-width,$height,$object-fit){
	width:$width;
	height:$height;
	max-width:$max-width;
	object-fit:$object-fit;
}
@mixin full_width{
	width: 100%;
	float:left;
}
/*== Color ==*/
	$background-white:#fff;
	$base-hover-background:#4d6fe5;
	$base-hover-background-1:#e6f1fa;
	$base-hover-background-2:#f2f5fa;
	$base-hover-background-3:#e1e4ea;
	$base-hover-background-4:#f4f5f7;
	$base-hover-background-5:#e5efff;
	$base-hover-background-6:#6f6f6f;
	$base-hover-background-7:#7f8c99;
	$base-hover-background-8:#e9e1f8;
	$base-hover-background-9:#bdbdbd;
	$base-hover-background-10:#e5f2ff;
	$base-hover-background-11:#1b90ff;
	$base-hover-background-12:#1b90ff;
	$base-hover-background-13:#656363;
	$base-hover-background-14:#ff9800;
	$base-hover-background-15:#0075F4;
	$base-hover-background-16:#0054AF;
	$base-hover-background-17:#FF4B81;
	$base-hover-background-18:#2A0845;
	$base-hover-background-19:#29323C;
	$base-hover-background-20:#A43931;
	$base-hover-background-21:#29323C;
	$base-hover-background-22:#FFE4EC;
	$base-hover-background-23:#FF6C98;
	$base-hover-background-24:rgba(41, 52, 61, 0.25);
	$base-hover-background-25:rgba(164, 57, 49, 0.14);
	$base-hover-background-26:rgba(42, 8, 69, 0.18);
	$base-hover-background-27:rgba(41, 50, 60 , 0.17);
	$base-hover-background-28:rgba(0, 208, 90, 0.27);
	$base-hover-background-29:#EAEEF1;
	$base-hover-color:#dbecff;
	$color-white:#fff;
	$color-black:#000;
	$color-black-1:#111;
	$color-black-2:#99a4b0;
	$color-black-3:#e7e7e7;
	$color-black-4:#222;
	$color-black-5:#050a19;
	$color-black-6:#abb4bc;
	$color-black-7:#ddd;
	$color-custom-1:#F8F8F8;
	$color-custom-2:#9B9B9B;
	$color-custom-3:#9B9B9B;
	$color-custom-4:#595959;
	$color-custom-6:#BFBFBF;
	$color-custom-7:#333;
	$color-custom-8:#0568db;
	$color-custom-9:#878787;
	$color-custom-10:#35AA47;
	$color-custom-11:#FF0000;
	$color-custom-12:#5F5F5F;
	$color-custom-13:#464646;
	$color-custom-14:#D9D9D9;
	$color-custom-15:#48DE64;
	$color-custom-16:#B6B6B6;
	$color-custom-17:#0069DB;
	$color-custom-18:#0D0D0D;
	$color-custom-19:#EEEEEE;
	$color-custom-20:#e5e5e5;
	$color-custom-21:#F2F2F2;
	$color-custom-22:#6A6A6A;
	$color-custom-23:#FC0000;
	$color-custom-24:#D50202;
	$color-custom-25:#E6F2FF;
	$color-custom-26:#010101;
	$color-custom-27:#e8eaef;
	$color-custom-28:#C9E2FE;
	$color-custom-29:#0076F6;
	$color-custom-30:#0071ec;
	$color-custom-31:#4F4F4F;
	$color-custom-32:#0052AB;
	$color-custom-33:#c9d4e5;
	$color-custom-34:#2B2B2B;
	$color-custom-35:#2F2F2F;
	$color-custom-36:#828282;
	$color-custom-37:#F7F7F7;
	$color-custom-38:#999797;
	$color-custom-39:#818181;
	$color-custom-40:#E8E8E8;
	$color-custom-41:#8A8A8A;
	$color-custom-42:#EDEDED;
	$color-custom-43:#2D2D2D;
	$color-custom-44:#E9E9E9;
	$color-custom-45:#525252;
	$color-custom-46:#707070;
	$color-custom-47:#A39C9C;
	$color-custom-48:#888;
	$color-custom-49:#6d7379;
	$color-custom-50:#939393;
	$color-custom-51:#666;
	$color-custom-52:#3A3A3A;
	$color-custom-53:#005BBD;
	$color-custom-54:#FF98B7;
	$color-custom-55:#FF4B81;
	$color-custom-56:#6441A5;
	$color-custom-57:#2A0845;
	$color-custom-58:#485563;
	$color-custom-59:#29323C;
	$color-custom-60:#1D4350;
	$color-custom-61:#A43931;
	$color-custom-62:#485563;
	$color-custom-63:#29323C;
	$color-custom-64:#FFC328;
	$color-custom-65:#999;
	$color-custom-66:#5A5858;
	$color-custom-67:#959595;
	$color-custom-68:#979797;
	$color-custom-69:#989898;
	$color-custom-70:#adb5bd;
	$color-custom-71:#007bff;
	$color-custom-72:#46BF66;
	$color-custom-73:#F7B84E;
	$color-custom-74:#A5D0FF;
	$color-custom-75:#FFDB5E;
	$color-custom-76:#00d655;
	$color-custom-77:#455A64;
	$color-custom-78:#9C9C9C;
	$color-custom-79:#F4F4F4;
	$color-custom-80:#252525;
	$color-custom-81:#CAD1D8;
	$color-custom-82:#F9F9F9;
	$color-custom-83:#B9B9B9;
	$color-custom-84:#ECEBED;
	$color-custom-85:#0069DB;
	$color-custom-86:#1D1D1D;
	$color-custom-87:#001a33;
	$color-custom-88:#FF7DA5;
	$color-custom-89:#19DD73;
	$color-custom-90:#2a0945;
	$color-custom-91:#475462;
	$color-custom-92:#a43930;
	$color-custom-93:#7B7777;
	$color-custom-94:#636363;
	$color-custom-95:#2F80ED;
	$color-custom-96:#db342e;
	$color-custom-97:#757575;
	$color-custom-98:#C8E2FF;
	$color-custom-99:#767676;
	$color-custom-100:#585858;
	$color-custom-101:#969696;
	$color-custom-102:#2B2C33;
	$color-custom-103:#FF5555;
	$color-custom-104:#242323;
	$color-custom-105:#dd444a;
	$border-color:#eeeff3;
	$border-color-1:#eeeff2;
	$border-color-2:#0068ff;
	$border-color-3:#C9E3FF;
	$border-color-4:#838383;
	$border-color-5:#2E2E2E;
	$border-color-6:#50BEE8;
	$font-size-14:14px;
/*== End Color ==*/

$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;
