.no{
	&-margin{
		margin: 0px !important;
	}	
	&-margin-right{
		margin-right: 0 !important;
	}
	&-margin-left{
		margin-left: 0 !important;
	}
	&-padding-right{
		padding-right: 0 !important;
	}
	&-padding-left{
		padding-left: 0 !important;
	}
	&-padding{
		padding: 0px !important;
	}
	&-bottom-space{
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
	}
	&-top-space{
		padding-top: 0px !important;
		margin-top: 0px !important;
	}
	&-text-shadow {
		text-shadow: none !important;
	}
	&-border{
		border:none !important;
	}
	&-border-right{
		border-right: none !important;
	}
	&-border-left{
		border-left: none !important;
	}
}
$numbersmarginPX:
  "8" 8px,
  "10" 10px,
  "15" 15px,
  "20" 20px,
  "25" 25px,
  "30" 30px,
  "40" 40px,
  "50" 50px,
  "60" 60px;

// Margin //
@each $i in $numbersmarginPX{
  .margin-#{nth($i, 1)} {
    margin: nth($i, 2) !important;
  }
  .margin-top-#{nth($i, 1)} {
    margin-top: nth($i, 2) !important;
  }
  .margin-bottom-#{nth($i, 1)} {
    margin-bottom: nth($i, 2) !important;
  }
  .margin-right-#{nth($i, 1)} {
    margin-right: nth($i, 2) !important;
  }
  .margin-left-#{nth($i, 1)} {
    margin-left: nth($i, 2) !important;
  }
}
$numbersPX:
  "8" 8px,
  "10" 10px,
  "15" 15px,
  "20" 20px,
  "25" 25px,
  "30" 30px,
  "40" 40px,
  "50" 50px,
  "60" 60px;

// Padding //
@each $i in $numbersPX{
  .padding-#{nth($i, 1)} {
    padding: nth($i, 2) !important;
  }
  .padding-top-#{nth($i, 1)} {
    padding-top: nth($i, 2) !important;
  }
  .padding-bottom-#{nth($i, 1)} {
    padding-bottom: nth($i, 2) !important;
  }
  .padding-right-#{nth($i, 1)} {
    padding-right: nth($i, 2) !important;
  }
  .padding-left-#{nth($i, 1)} {
    padding-left: nth($i, 2) !important;
  }
}

a{
	text-decoration: none !important;
}
@media (min-width: 768px){
	.container{
		// max-width: 1170px;
	}
	.app .contact{
		.container{
			padding-left: 30px;
			padding-right: 30px;
			max-width: 960px;
		}
	}
}
@media (min-width: 992px){
	.container{
		// max-width: 1170px;
	}
	.app .contact{
		.container{
			max-width: 960px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}

}
@media (min-width: 1200px){
	.container{
		// max-width: 1280px;
		padding-left: 0;
		padding-right: 0;
	}
	.app .contact{
		.container{
			max-width: 960px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}


