.div_avatar_default {
    background-image: url('../imgs/avatar-default.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
}

.spin {
    width: 100%;
    height: 100%;
}